// CARDS
.slider-cards {
  overflow: hidden;
  margin: 0;
  scroll-behavior: smooth;
}

.slider-cards > .active {
  transform: scale(1.1);
  opacity: 1 !important;
}

// DOTS
.dots {
  padding-top: 50px;
}

.dots > * {
  font-size: 40px;
  cursor: pointer;
  color: #b3b3b39d;
}

.dots > *.active {
  color: #fff;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.dots > *:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.dots > *:active {
  transform: scale(0.8);
  transition: transform 0.5s;
}
