@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.app {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  background-color: #F4EAE1;
}

.slider {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  touch-action: auto;
}
